html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

}
.kres{
	width: 100px;
	height: 100px;
	background-color:#8f93e6;
	border-radius:50px;
}



.Button1{
	position:absolute;
	margin-left:500px;
}


.Result1{
	position:absolute;
	margin-left:400px;
 }
.container {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-items: space-around;
    align-items: center;
}
.base-container {
    min-width: 300px;
    min-height: 400px;
    box-shadow: 0px 0px 20px 2px rgba(15, 15, 15, 0.2);
    padding: 25px;

}
.header {
    width: 100%;
    font-family: Oxygen, sans-serif;
    font-size: 22px;
    text-align: center;
}
.no-todo-container {
    border: 1px solid rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 5px 10px rgba(15, 15, 15, 0.2);
}
.todo-item {
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 10px 0 16px 0;
    margin-left: 80px;
    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}
.todo-item2 {
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 10px 0 16px 0;
    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}
.todo-item3 {
    
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 10px 0 16px 0;
    margin-left:200px;
    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}
.todo-item4 {
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 95px 0 16px 0;

    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}
.todo-item5 {
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 95px 0 16px 0;
    margin-left:80px;
    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}.todo-item6 {
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 95px 0 16px 0;
    margin-left:200px; 
    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}.todo-item7 {
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 180px 0 16px 0;

    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}.todo-item8{
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 180px 0 16px 0;
    margin-left: 80px;
    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}
.todo-item9 {
    
    position: absolute;
    background-color: #F44336;
    color: #FFFFFF;
    font-family: Oxygen, sans-serif;
    font-size: 50px;
    padding: 15px;
    margin: 180px 0 16px 0;
    margin-left:200px;
    box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 0.2);
    border-radius: 3px;
    cursor: pointer;
}
.snap{
    width: 301px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.over{
    background-color: rgba(15, 15, 15, 0.2);
    border: 2px solid #F44336;
    border-radius: 5px;
}
.N1{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);


}
.N2{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);
}
.N3{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);
}
.N4{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);
}
.N5{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);
}
.N6{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);
}
.N7{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);
}
.N8{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);
}
.N9{
	position:absolute;
	width:30px;
	height:30px;
	border-radius:15px;
	margin: 25px 0 15px 0 ;
	margin-left:500px;
	background-color:#8f93e6;
	font-family: Oxygen, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	padding:10px;
	
	box-shadow: inset 1px 1px 10px 0 rgba(15, 15, 15, 1);
}
.Score1{
    position: absolute;
    margin-left: 600px;
}
.Ball{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 500px;
    background-color: #00FF00;
    
}